<% if flash.has?(:notice) %>
  <div class="alert alert-danger" role="alert"> <%= flash[:notice] %> </div>
<% end %>

<a href="/posts"> <h1> Fladdit </h1> </a>

<br>
<ul class="nav nav-tabs">
  <li role="presentation"> <a href="/posts"> Posts </a> </li>
  <li role="presentation" class="active"> <a href="#"> New Comment </a> </li>
  <li role="presentation" class="pull-right"> <a href="/logout"> Logout </a> </li>
  <li role="presentation" class="pull-right"> <a href="/users/<%= current_user.username %>"> <strong> <%= current_user.username %> </strong> </a> </li>
</ul>
<br>

<form action="/comments/<%= @post.id %>/new" method="POST">
  <div class="form-group">
    <label for="content"> Post Comment: </label>
    <textarea rows="3" class="form-control" name="content" id="content"> </textarea>
    <br>
    <input type="submit" class="btn btn-info" name="submit" value="Submit">
    &nbsp;
    <a href="/posts/<%= @post.id %>" class="btn btn-danger" name="cancel" id="cancel"> Cancel </a>
  </div>
</form>