<% if flash.has?(:notice) %>
  <div class="alert alert-danger" role="alert"> <%= flash[:notice] %> </div>
<% end %>

<a href="/posts"> <h1> Fladdit </h1> </a>

<br>
<ul class="nav nav-tabs">
  <li role="presentation"> <a href="/posts"> Home </a> </li>
  <li role="presentation"> <a href="/users/<%= @user.username %>/posts"> Submitted </a> </li>
  <li role="presentation"> <a href="/users/<%= @user.username %>/comments"> Comments </a> </li>
  <li role="presentation" class="pull-right"> <a href="/logout"> Logout </a> </li>
  <li role="presentation" class="pull-right active"> <a href="#"> <strong> <%= @user.username %> </strong> </a> </li>
</ul>
<br><br>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h4> <%= @user.username %> </h4>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-2"> <img src="/images/blankuser.png" class="img-thumbnail"> </div>
      <div class="col-md-10"> <h3 class="text-danger"> <%= @user.username %>'s details </h3> </div>
    </div>
  </div>
</div>