<% if flash.has?(:notice) %>
  <div class="alert alert-danger" role="alert"> <%= flash[:notice] %> </div>
<% end %>

<a href="/posts"> <h1> Fladdit </h1> </a>

<br>
<ul class="nav nav-tabs">
  <li role="presentation"> <a href="/posts"> Posts </a> </li>
  <li role="presentation"> <a href="/posts/new"> New Post </a> </li>
  <li role="presentation" class="active"> <a href="#"> Comments </a> </li>
  <li role="presentation" class="pull-right"> <a href="/logout"> Logout </a> </li>
  <li role="presentation" class="pull-right"> <a href="/users/<%= current_user.username %>"> <strong> <%= current_user.username %> </strong> </a> </li>
</ul>
<br><br>

<div class="panel panel-default">
  <div class="panel-body">
    <span class="badge"> <strong> <%= @post.votes %> </strong> </span> &nbsp; &nbsp;
    <span class="lead text-primary"> <%= @post.title %> </span>
    <br><br>
    <form class="form-inline" action="/vote/<%= @post.id %>" method="POST">
      <input class="btn btn-success btn-xs" type="submit" name="action" value="Upvote">
      <input class="btn btn-danger btn-xs" type="submit" name="action" value="Downvote">
    </form>
  </div>
  <div class="panel-footer">
    By: <a class="text-danger" href="/users/<%= @post.user.username %>"> <strong> <%= @post.user.username %> </strong> </a>
    <p class="pull-right"> <%= @post.created_at.localtime.strftime("%A, %B %d, %Y at: %l:%M%P") %> </p>
  </div>
</div>
<br>

<a href="/comments/<%= @post.id %>/new" class="btn btn-info btn-lg"> New Comment </a>
<br>

<% if @post.comments.count > 0 %>
  <h2> Comments: </h2>
  <br>

  <div>  
    <% @post.comments.each do |comment| %>
      <blockquote>
        <p class="text-success"><%= comment.content %></p>
        <footer>
          <a class="text-danger" href="/users/<%= comment.user.username %>"> <strong> <%= comment.user.username %> </strong> </a>
          &nbsp; &nbsp; <%= comment.created_at.localtime.strftime("%B %d, %Y at: %l:%M%P") %>
          <br><br> 
          <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning btn-xs"> Edit Comment </a>
        </footer>
      </blockquote>
      <br>
    <% end %>
  </div>
<% end %>